.header{
    height: 4rem;width: 100%;background-color: yellow;
}
.side-bar{
    float: left;
    width: 18rem;
}
.content-container{
    display: flex
}
.food-list-card-container{
    height: fit-content;
    min-height: 300px !important
}
.content-container-row{
    height: fit-content; 
    min-height: 80vh !important
}
